 .carousel-control-prev-icon, .carousel-control-next-icon { width:32px; height:32px; }

  @media (max-width: 576px) {
    .player-card { flex-direction: column; align-items: stretch; background-color: #b9dbf8; }
    .card-left { width: 100%; display:flex; justify-content:center; padding-bottom:8px; }
  }

.player-card {
    background-color: #d0e5f7; 
}

/* .profile-icon {
    width: 68px;
    height: 68px;
    display: flex;
    border-radius: 12%;
    color: white;
    justify-content: center;
    background-color: black;
    align-items: anchor-center;
} */
.player-image{
  width: 180px;
  height: 180px;
  border-radius: 5px;
  margin: 6px 6px;
}


.carousel-control-next , .carousel-control-prev{
  height: fit-content;
  top: 50%;
}